

.error-first {
    display: none;
}
.error-last {
    display: none;
}
.error-email {
    display: none;
}
.error-birthday {
    display: none;
}
.error-checkbox {
    display: none;
}
#required {
    color: inherit;
}